/*styles.css for chat app*/

* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

form {
	background: #CDD1D6;
	padding: 3px;
	position: fixed;
	bottom: 0;
	width: 100%;
}

form input {
	border: 0;
	padding: 10px;
	width: 90%;
}

.btn {
	width: 9%;
	background: #CDD1D6;
	border: none;
}

#page-wrap {
	width: 100%;
	min-height: 94vh;
	margin: 0px;
	padding: 0px;
}

#users-wrap{
	position:fixed;
	overflow-y:auto;
	left:0;
	width: 20%;
	height:100%;
	border-right: 1px solid black;
	margin: 0px;
	padding: 10px;
	vertical-align: top;
}

#msg-wrap {
	width: 80%;
	height: 93vh;
	overflow-y:auto;
	margin: 0px 0px 0px 20%;
	padding: 10px;
	vertical-align: top;
}

#msg-wrap div {
	padding: 5px 10px;
}

#msg-wrap div:nth-child(odd) {
	background: #CDD1D6;
}

.username {
	display: inline-block;
	width: 14%;
}

.msg {
	display: inline-block;
	width: 84%;
	word-wrap: break-word;
}
